{% extends 'shoahDDBB/base.html' %}

{% block title %}
Book
{% endblock %}

{% block content %}


{% if movies_list %}

<div class="container-fluid">
  <h2 align="center">Catalog: total {{ total }} films</h2>
  <div class="table-responsive">
      <table class="table table-hover">
          <tr>
              <th>Movie</th>
              <th>Title</th>
              
              <th>Details</th>
          </tr>
          {% for movie in movies_list %}
              <tr>
                  <td><a href="/catalog/{{movie.pk}}"><img src="{{movie.mov_poster}}" alt="Movie Poster" width="100"></a></td>
                  <td><a href="/catalog/{{movie.pk}}"><strong>{{movie.mov_name}} </strong></a>
                  </br>Year: {{movie.mov_year}} 
                </br>Country: {{movie.mov_country}}
                  </br>Director: {{movie.mov_director}}
                
                  </td>
                  <td><a href="/catalog/{{movie.pk}}" class="btn btn-sm" type="submit">Details</a></td>
              </tr>
          {% endfor %}
      </table>
  </div>

  <form class="form-group" action="/search_result/" method="POST" align="center">
    {% csrf_token %}
    Search movies / documentaries by name
  <input class="form-control" name="search" type="text" name="search" placeholder="Film name" aria-label="Search" required>
  <input type="submit" value="Search for films" name="subscribe" id="mc-embedded-subscribe" class="form-control">
</form>
</div>

{% else %}
  <p>There are no movies in the database.</p>
{% endif %}
  
  {% endblock %}