{% load static %}<!
DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>Holocaust Database</title>
    
</head>
<body>
    <img src="{% static 'images/header2.jpg' %}" alt="portal header" class="img-fluid" width="100%">
    <div>
      <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="/catalog/"><i class="fa fa-film"></i> Catalog</a>
        <a class="navbar-brand" href="/signup/"><i class="fa fa-search"></i> Search</a>
        <a class="navbar-brand" href="/author/"><i class="fa fa-book"></i> Author</a>
        <a class="navbar-brand" href="/register/"><i class="fa fa-user-plus"></i> Register</a>
        <a class="navbar-brand"href="/contact/"><i class="fa fa-user-plus"></i> Contact</a>

        
        <form class="form-inline">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-info btn-sm" type="submit">Search</button>
        </form>
      </nav>
    </div>
    <br>
	<br>


<div class=container>

  <h1>THE HOLOCAUST AS SEEN THROUGH FILM</h1>
  <h3>Holocaust Films Database</h3>
  
  <h4>Based on the Rabbi Dr. Bernhard Rosenberg's book</h4>

<p>The Holocaust as Seen by Through Film by Rabbi Dr. Bernhard H. Rosenberg is a special book that adds to his other authored that educate students, educators and the community about the Holocaust and assists in meeting the New Jersey mandate that all students must learn about the Holocaust and genocide. This book in particular blends the specific cognitive, historical aspects of the atrocity with excellent literature which helps meet the new common core standards through the pictures, questions, discussions and research associated with each story. The Commission recommends the book for the classroom and community.
</p>
</br>
<p align=center>
  <iframe title="vimeo-player" src="https://player.vimeo.com/video/735051890?h=9295f61134&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&portrait=false&byline=false&title=false" width="640" height="360" frameborder="0" allowfullscreen></iframe>
</p>
</br>
<p>
My wife and ayshes chayl, Charlene, joins me in dedicating this book to the memory of my beloved parents, Jacob and Rachel Rosenberg, of blessed memory, Holocaust survivors, and to our children, Ilana, Ayelet, Yaakov and Ari, and grandchildren.
  <p>
  This book is also in memory of my aunt Regina Braun and my cousins
  Maria and Fred Devinki of blessed memory. In addition to my parents, they
  were the only family members I ever knew who survived the Holocaust. 
  </p>
</p>
<p>
  <h2>Acknowledgments:</h2>
A special thanks to my sons, Yaakov and Ari Rosenberg for helping edit
this book’s first edition.
Thank you to Azriela Jaffe, an accomplished author, for her assistance
in editing this book’s updated edition.
Thank you to Kathy Rend, an outstanding graphic artist, for creating a
stunning cover for the book and preparing it for publication.
</p>
</br>
</div>


<p>
{% if movies_list %}

<div class="container card">
  <h2>Movie Catalog</h2>
  <div class="card-body">
      <table class="table table-hover">
          <tr>
              <th>Movie</th>
              <th>Year</th>
              <th>Country</th>
              <th>Director</th>
              <th>Language</th>
              <th>Details</th>
          </tr>
          {% for movie in movies_list %}
              <tr>
                  <td>{{movie.mov_name}}</td>
                  <td>{{movie.mov_year}}</td>
                  <td>{{movie.mov_country}}</td>
                  <td>{{movie.mov_director}}</td>
                  <td>{{movie.mov_language}}</td>
                  <td><a href="{% url 'catalog' %}" class="btn btn-info btn-sm" type="submit">View details</a></td>
              </tr>
          {% endfor %}
      </table>
  </div>
</div>

{% else %}
  <p>There are no movies in the database.</p>
{% endif %}
</p>

<div class=container>

</div>
<img src="{% static 'images/Holocaust-Movies.jpg' %}" alt="portal header" class="img-fluid" width="100%">
	
<p>

<!-- Footer Wrapper -->
  <div id="footer-wrapper" style="background-color: dark;">
    <footer id="footer" >
      <div class="row">
        <div class="col-3 col-6-medium col-12-small">

          <!-- Links -->
            <section>
              <h2>Filler Links</h2>
              <ul class="divided">
                <li><a href="#">Quam turpis feugiat dolor</a></li>
                <li><a href="#">Amet ornare in hendrerit </a></li>
                <li><a href="#">Semper mod quisturpis nisi</a></li>
                <li><a href="#">Consequat etiam phasellus</a></li>
                <li><a href="#">Amet turpis, feugiat et</a></li>
                <li><a href="#">Ornare hendrerit lectus</a></li>
                <li><a href="#">Semper mod quis et dolore</a></li>
                <li><a href="#">Amet ornare in hendrerit</a></li>
                <li><a href="#">Consequat lorem phasellus</a></li>
                <li><a href="#">Amet turpis, feugiat amet</a></li>
                <li><a href="#">Semper mod quisturpis</a></li>
              </ul>
            </section>

        </div>
        <div class="col-3 col-6-medium col-12-small">

          <!-- Links -->
            <section>
              <h2>More Filler</h2>
              <ul class="divided">
                <li><a href="#">Quam turpis feugiat dolor</a></li>
                <li><a href="#">Amet ornare in in lectus</a></li>
                <li><a href="#">Semper mod sed tempus nisi</a></li>
                <li><a href="#">Consequat etiam phasellus</a></li>
              </ul>
            </section>

          <!-- Links -->
            <section>
              <h2>Even More Filler</h2>
              <ul class="divided">
                <li><a href="#">Quam turpis feugiat dolor</a></li>
                <li><a href="#">Amet ornare hendrerit lectus</a></li>
                <li><a href="#">Semper quisturpis nisi</a></li>
                <li><a href="#">Consequat lorem phasellus</a></li>
              </ul>
            </section>

        </div>
        <div class="col-6 col-12-medium imp-medium">

          <!-- About -->
            <section>
              <h2><strong>Holocaust Films </strong> Database</h2>
              <p>Hi! This is <strong>ZeroFour</strong>, a free, fully responsive HTML5 site
              template by <a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a>.
              It's <a href="http://html5up.net/license/">Creative Commons Attribution</a>
              licensed so use it for any personal or commercial project (just credit us
              for the design!).</p>
              <a href="#" class="button alt icon solid fa-arrow-circle-right">Support Project</a>
            </section>

          <!-- Contact -->
            <section>
              <h2>Get in touch</h2>
              <div>
                <div class="row">
                  <div class="col-6 col-12-small">
                    <dl class="contact">
                      <dt>Twitter</dt>
                      <dd><a href="#">@untitled-corp</a></dd>
                      <dt>Facebook</dt>
                      <dd><a href="#">facebook.com/untitled</a></dd>
                      <dt>WWW</dt>
                      <dd><a href="#">untitled.tld</a></dd>
                      <dt>Email</dt>
                      <dd><a href="#">user@untitled.tld</a></dd>
                    </dl>
                  </div>
                  <div class="col-6 col-12-small">
                    <dl class="contact">
                      <dt>Address</dt>
                      <dd>
                        1234 Fictional Rd<br />
                        Nashville, TN 00000-0000<br />
                        USA
                      </dd>
                      <dt>Phone</dt>
                      <dd>(000) 000-0000</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </section>

        </div>
        <div class="col-12" align=center>
          <div id="copyright">
            
              &copy; Holocaust Database. All rights reserved / Design: <a href="https://albertosaenz.com/" target="_blank">AS</a>
            
          </div>
        </div>
      </div>
    </footer>
  </div>

</div>
</p>

</body>
</html>
