{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <style>
      .div_contenedor {
        position: relative;
        padding-bottom: 56.25%; /*panorámico*/
        padding-top: 25px;
        height: 0;
      }
      .div_contenedor iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <title>Holocaust Database</title>
    
</head>
<body>
    <img src="{% static 'images/Holocaust-Movies.jpg' %}" alt="portal header" class="img-fluid" width="100%">
    <div>
      <nav class="navbar navbar-dark bg-dark">
        <div align="left">
        <a class="navbar-brand" href="/catalog/"> Movie Catalog</a>
        <a class="navbar-brand" href="/signup/"> Search</a>
        <a class="navbar-brand" href="/author/"> Author</a>
        <a class="navbar-brand" href="/register/"> Register / Login</a>
        <a class="navbar-brand"href="/contact/"> Contact</a>
        </div>
        <div align="right">
        <form class="form-inline">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-info" type="submit">Search</button>
        </form>
      </div>
      </nav>
    </div>

    

    
    <br>
	<br>


<div class=container>

  <h1>THE HOLOCAUST AS SEEN THROUGH FILM</h1>
  <h3>Holocaust Films Database</h3>
  
  <h4>Based on the Rabbi Dr. Bernhard Rosenberg's book</h4>

<p>The Holocaust as Seen by Through Film by Rabbi Dr. Bernhard H. Rosenberg is a special book that adds to his other authored that educate students, educators and the community about the Holocaust and assists in meeting the New Jersey mandate that all students must learn about the Holocaust and genocide. This book in particular blends the specific cognitive, historical aspects of the atrocity with excellent literature which helps meet the new common core standards through the pictures, questions, discussions and research associated with each story. The Commission recommends the book for the classroom and community.
</p>
</br>
<div class="div_contenedor">
<p align=center>
  <iframe title="vimeo-player" src="https://player.vimeo.com/video/735051890?h=9295f61134&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&portrait=false&byline=false&title=false" width="640" height="360" frameborder="0" allowfullscreen></iframe>
</p>
</div>
</br>
<p>
"My wife and ayshes chayl, Charlene, joins me in dedicating this book to the memory of my beloved parents, Jacob and Rachel Rosenberg, of blessed memory, Holocaust survivors, and to our children, Ilana, Ayelet, Yaakov and Ari, and grandchildren."
  <p>
  "This book is also in memory of my aunt Regina Braun and my cousins
  Maria and Fred Devinki of blessed memory. In addition to my parents, they
  were the only family members I ever knew who survived the Holocaust." 
  </p>
</p>
<p>
  <h2>Acknowledgments:</h2>
"A special thanks to my sons, Yaakov and Ari Rosenberg for helping edit
this book’s first edition.
Thank you to Azriela Jaffe, an accomplished author, for her assistance
in editing this book’s updated edition.
Thank you to Kathy Rend, an outstanding graphic artist, for creating a
stunning cover for the book and preparing it for publication."
</p>
<p>
Rabbi Dr. Bernhard Rosenberg
</p>
</br>
</div>


<p>
{% if movies_list %}

<div class="container card">
  <h2>Movie Catalog</h2>
  <div class="card-body">
      <table class="table table-hover">
          <tr>
              <th>Movie</th>
              <th>Title</th>
              
              <th>Details</th>
          </tr>
          {% for movie in movies_list %}
              <tr>
                  <td><img src="{{movie.mov_poster}}" alt="Movie Poster" width="100"></td>
                  <td>{{movie.mov_name}} {{movie.mov_year}} {{movie.mov_country}}
                  </br>Director {{movie.mov_director}}
                </br>Language {{movie.mov_language}}
                  </td>
                  <td><a href="{% url 'catalog' %}" class="btn btn-info btn-sm" type="submit">View details</a></td>
              </tr>
          {% endfor %}
      </table>
  </div>
</div>

{% else %}
  <p>There are no movies in the database.</p>
{% endif %}
</p>
</br>
<div>

</div>
<img src="{% static 'images/Holocaust-Movies2.jpg' %}" alt="portal header" class="img-fluid" width="100%">
	
<p>
<div class="div_contenedor">
  <iframe src="https://www.google.com/maps/d/embed?mid=1Yqt_cbT5G86GG_BCYBvcaGXmgE4&ehbc=2E312F" width="640" height="480"></iframe>
</div>
</br>
<!-- Footer Wrapper -->
  <div id="footer-wrapper" class="container-fluid">
    <footer id="footer" >
      <div class="row">
        <div class="col-3 col-6-medium col-12-small">

          <!-- Links -->
            <section>
              <h2>Supporters</h2>
              <ul class="divided" style="list-style: none;">
                <li><a href="#">Quam turpis feugiat dolor</a></li>
                <li><a href="#">Amet ornare in hendrerit </a></li>
                <li><a href="#">Semper mod quisturpis nisi</a></li>
                <li><a href="#">Consequat etiam phasellus</a></li>
                <li><a href="#">Amet turpis, feugiat et</a></li>
                <li><a href="#">Ornare hendrerit lectus</a></li>
                <li><a href="#">Semper mod quis et dolore</a></li>
                <li><a href="#">Amet ornare in hendrerit</a></li>
                <li><a href="#">Consequat lorem phasellus</a></li>
                <li><a href="#">Amet turpis, feugiat amet</a></li>
                <li><a href="#">Semper mod quisturpis</a></li>
              </ul>
            </section>

        </div>
        <div class="col-3 col-6-medium col-12-small">

          <!-- Links -->
            <section>
              <h2>Other Books</h2>
              <ul class="divided" style="list-style: none;">
                <li><a href="#" target="_blank">Does Judaism believe in Gilgul? Transmigrations of Souls</a></li>
                <li><a href="#" target="_blank">Echoes of The Holocaust: Survivors and Their Children and Grandchildren Speak Out </a></li>
                <li><a href="#" target="_blank">Rosenberg English Holocaust Haggadah For Passover: Holocaust Poems and Essays to Supplement the Seder</a></li>
                <li><a href="#" target="_blank">Holocaust Survivors and Their Families: Remember, Reflect And Reminisce</a></li>
                <li><a href="#" target="_blank">Genesis of the Palestinian Authority</a></li>
              </ul>
            </section>

          <!-- Links -->
            <section>
              <h2>Even More Filler</h2>
              <div class="footer-icons">
                <ul style="list-style: none;">
                  <li>
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </li>
                  
                </ul>
            </section>

        </div>
        <div class="col-6 col-12-medium imp-medium">

          <!-- About -->
            <section>
              <h2><strong>Holocaust Films </strong> Database</h2>
              <p>
                This work contains a brief description of a select collection of <strong>Holocaust related and
                inspired films</strong>, along with relevant questions to spark dynamic classroom discussion. It is
                not designed to be an exhaustive list, but rather, numerous movies, documentaries, and
                films that the author believes are of value to students of the Holocaust and their teachers.
                </br>
                <a href="#"><i class="fa fa-life-ring" aria-hidden="true"></i> Support Project</a>
              </p>
            </section>

          <!-- Contact -->
            <section>
              <h2>Get in touch</h2>
              <div>
                <div class="row">
                  <div class="col-6 col-12-small">
                    <dl class="contact">
                      <dt>Twitter</dt>
                      <dd><a href="https://twitter.com/NeverFrgetRabbi"><i class="fa fa-twitter"></i> Account</a></dd>
                      <dt>Facebook</dt>
                      <dd><a href="https://www.facebook.com/bernhard.rosenberg.7"><i class="fa fa-facebook"></i> Profile</a></dd>
                      <dt>WWW</dt>
                      <dd><a href="https://bernhardrosenberg.com/"><i class="fa fa-desktop"></i> bernhardrosenberg.com/</a></dd>
                      <dt>Email</dt>
                      <dd><a href="#"><i class="fa fa-envelope-o"></i> Email</a></dd>
                    </dl>
                  </div>
                  <div class="col-6 col-12-small">
                    <dl class="contact">
                      <dt>Address</dt>
                      <dd>
                        1234 Fictional Rd<br />
                        Nashville, TN 00000-0000<br />
                        USA
                      </dd>
                      <dt>Phone</dt>
                      <dd>(000) 000-0000</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </section>

        </div>
        <div class="col-12" align=center>
          <div id="copyright">
            
              &copy; Holocaust Films Database. All rights reserved / Design: <a href="https://albertosaenz.com/" target="_blank">AS</a>
            
          </div>
        </div>
      </div>
    </footer>
  </div>

</div>
</p>

</body>
</html>
