{% extends 'shoahDDBB/base.html' %}

{% block title %}
Film details of {{movie.mov_name}}
{% endblock %}


{% block content %}
<div class="container">
<div class="container card">
    <h2 align="center">Film Details</h2>
    <div class="card-body">
        <table class="table table-hover">
            
        
                <tr>
                    <td><img src="{{movie.mov_poster}}" alt="Movie Poster" width="200" align="right"></td>
                    <td><strong>{{movie.mov_name}} </strong>
                    </br>Year: {{movie.mov_year}} 
                  </br>Country: {{movie.mov_country}}
                    </br>Director: {{movie.mov_director}}
                </br>Language: {{movie.mov_language}}
                </br>Rating: {{movie.mov_rating}}
                    
                </br><a href="{{movie.url_movie}}" target="_blank">External link </a>
              </td>
                </tr>
           
        </table>
        <div align="center">
        <strong>Overview</strong></br>
        {{movie.mov_overview}}</br></br>
        <strong>Trailer</strong></br></br>
        <div class="div_contenedor">
        <iframe width="560" height="315" src="{{movie.url_trailer}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </br></br>
        <strong>Streaming</strong></br>
        {% if movie.mov_streaming %}
          <a href="{{movie.mov_streaming}}" target="_blank">{{movie.mov_streaming}}</a></br>
        {% else %}
          <p>No stream available.</p>
        {% endif %}

    </div>
    </div>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-62fd6338537561bb"></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_inline_share_toolbox" align=center></div>
            
   <hr>
    <p>
    <a href="javascript: history.go(-1)">« Back</a>
  </p>
  </div>
</div>  
{% endblock %}