{% extends 'shoahDDBB/base.html' %}

{% block title %}
Search
{% endblock %}

{% block content %}
{% load crispy_forms_tags%}
 
<div class="container">
    <h2>Search for movies / documentaries</h2>
<div>Fill the form</div>
<div>
    <form class="form-inline" action="/search_result/" method="POST">
        {% csrf_token %}
        <input class="form-control" name="search" type="search" placeholder="Film name" aria-label="Search">
        <button class="btn btn-info" type="submit">Search</button>
      </form>
    </div>
</div>
</br>
{% endblock %}